<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2023 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="card-body">
    <p>
      {{ $t("Your users need to know who the data is being collected for.") }}
    </p>

    <div>
      <label class="form-label" name="is_public_administration">
        {{ $t("Are you collecting the data for yourself or on behalf of someone else?") }}
      </label>
      <br />
      <div class="mt-0 btn-group btn-toggle">
        <button @click="is_my_oranization=true" type="button" class="btn" :class="is_my_oranization?'btn-primary':'btn-outline-secondary'">{{ $t("Myself") }}</button>
        <button @click="is_my_oranization=false" type="button" class="btn" :class="!is_my_oranization?'btn-primary':'btn-outline-secondary'">{{ $t("Someone else") }}</button>
      </div>
    </div>

    <template v-if="!is_my_oranization">
      <div class="mt-4">
        <label class="form-label" for="rep_name">{{ $t("Recipient's name") }}<span class="ds-required" arial-label="required"></span></label>
        <input id="rep_name" class="form-control" v-model="name" type="text">
      </div>
      <div class="mt-4">
        <label class="form-label" for="rep_email">{{ $t("Recipient's email") }}</label>
        <input id="rep_email" class="form-control" v-model="email" type="email">
      </div>
      <div class="mt-4">
        <label class="form-label" for="rep_url">{{ $t("Recipient's privacy policy web page") }}</label>
        <input id="rep_url" class="form-control" v-model="url" type="url">
      </div>
    </template>

  </div>
</template>

<script>
import { computed, ref, watch } from "vue";
import { wizardStore } from '@/store.js'

export default {
  name: 'DataRecipient',
  setup() {
    const store = wizardStore()
    const is_my_oranization = ref(store.wizard.recipient_is_my_organization)
    watch(computed(() => is_my_oranization.value), () => {
      store.wizard.recipient_is_my_organization = is_my_oranization.value
    })
    const name = ref(store.wizard.data_recipient.name)
    watch(computed(() => name.value), () => {
      store.wizard.data_recipient.name = name.value
    })
    const email = ref(store.wizard.data_recipient.email)
    watch(computed(() => email.value), () => {
      store.wizard.data_recipient.email = email.value
    })
    const url = ref(store.wizard.data_recipient.url)
    watch(computed(() => url.value), () => {
      store.wizard.data_recipient.url = url.value
    })
    return {
      is_my_oranization,
      name,
      email,
      url
    }
  },
}
</script>

<style scoped>

</style>
