<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2023 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="card-body">
    <p>{{ $t("Tell your users the single final purpose of the data you are collecting from them.") }}</p>

    <div class="mt-3">
      <label class="form-label" for="input">{{ $t("Why are you collecting the data?") }}</label>
      <input id="input" class="form-control" v-model="purpose" type="text">
    </div>
  </div>
</template>

<script>
import { computed, ref, watch } from "vue";
import { wizardStore } from '@/store.js'

export default {
  name: 'DataPurpose',
  setup() {
    const store = wizardStore()
    const purpose = ref(store.wizard.purpose)
    watch(computed(() => purpose.value), () => {
      store.wizard.purpose = purpose.value
    })
    return { purpose }
  },
}
</script>

<style scoped>

</style>
