<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2022 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>

  <div class="d-inline">
    <a href="#" data-bs-toggle="modal" data-bs-target="#context-modal">{{ $t("Help") }}</a>

    <div class="modal fade" id="context-modal" role="document" tabindex="-1" aria-labelledby="context-modal-label" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="context-modal-label" v-html="question.label"></h5>
            <button type="button" data-bs-dismiss="modal" aria-label="Close">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
            </button>
          </div>
          <div v-html="question.help_text" class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import { computed } from "vue";
import { wizardStore } from '@/store.js'

export default {
  name: 'ContextHelp',
  setup() {
    const store = wizardStore()
    const modal_data = computed(() => {
      return store.question_help
    })
    return {
      question: computed(() => store.question_help),
    }
  },
}
</script>

<style scoped>

</style>
