<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2022 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div>
    <div class="ds-nav">
      <ul class="nav nav-tabs">
        <li v-for="item_id in items"
            :key="item_id"
            class="nav-item"
            @click="current_question_id = item_id">
          <span class="nav-link"
                :class="{'active': item_id==active_item}">
                <span v-if="isAnswered(item_id)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                </span>
                {{ $t(getItemLabel(item_id)) }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { computed, toRef } from 'vue'
import { wizardStore } from '@/store.js'

export default {
  name: 'NavItems',
  setup() {
    const store = wizardStore()
    const current_question_id = toRef(store, "question_id")
    function getItemLabel(question_id) {
      return store.questions[question_id].label
    }
    return {
      items: store.nav_items,
      active_item: computed(() => store.question_id),
      getItemLabel,
      isAnswered: store.isAnswered,
      current_question_id,
    }
  },
}
</script>

<style scoped>
.nav-item {
  cursor: pointer;
}
</style>
