<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2022 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h2>{{ $t(question.label) }}</h2>
      <ContextHelp />
    </div>
    <component :is="question.component_name"></component>
  </div>
</template>

<script>
import { computed, ref, watch } from 'vue'
//import NextPrev from '@/components/NextPrev.vue'
import ContextHelp from '@/components/ContextHelp.vue'
import DataPurpose from '@/components/questions/DataPurpose.vue'
import LegitimateUse from '@/components/questions/LegitimateUse.vue'
import MyOrganization from '@/components/questions/MyOrganization.vue'
import DataRecipient from '@/components/questions/DataRecipient.vue'
import { wizardStore } from '@/store.js'

export default {
  name: 'WizardQuestion',
  components: {LegitimateUse, DataPurpose, MyOrganization, DataRecipient, ContextHelp},
  setup() {
    const store = wizardStore()
    return {
      question: computed(() => store.questions[store.question_id])
    }
  },
}
</script>

<style scoped>

</style>
