<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2022 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div v-if="is_loading===false">
    <div class="grid">
      <div class="g-col-12">
        <NavItems class="" />
      </div>
    </div>
    <div class="grid mt-4">
      <div class="g-col-12 g-col-lg-6">
        <WizardQuestion />
      </div>
      <div class="g-col-12 g-col-lg-6">
        <WizardResult />
      </div>
    </div>
  </div>
</template>

<script>
import DOMPurify from 'dompurify';
import axios from 'axios';
import { inject, computed } from "vue";
import { wizardStore } from '@/store.js'
import NavItems from '@/components/Nav.vue'
import WizardQuestion from '@/components/Question.vue'
import WizardResult from '@/components/Result.vue'

export default {
  name: 'GDRPWizard',
  components: {
    NavItems, WizardQuestion, WizardResult
  },
  setup() {
    const store = wizardStore()
    store.setLanguage(inject('ui_language'))
    axios.defaults.headers.common['X-CSRF-TOKEN'] = inject('csrf_token')
    store.data_endpoint = inject('data_endpoint')
    store.organization_endpoint = inject('org_endpoint')
    store.consent_id = inject("consent_id")
    store.consent_url = inject("consent_url")
    store.data_law = inject("data_law")

    let storage_key = "consent_" + store.consent_id
    let consent_crumb = window.sessionStorage.getItem(storage_key)
    if (consent_crumb !== null) {
      let cleaned_data = DOMPurify.sanitize(consent_crumb, { USE_PROFILES: { html: true } });
      let consent_data = JSON.parse(cleaned_data)
      store.consent_language = consent_data.language
    } else {
      store.consent_language = inject("fallback_consent_language")
    }
    if (store.data_endpoint) {
      store.loadSettings()
    } else {
      store.loading_source = false
    }
    return {
      is_loading: computed(() => store.loading_source),
    }
  },
}
</script>

<style>
.card {
  border-top: 1px solid var(--lf-gray-300);
}
.modal-title {
  line-height: var(--lf-modal-title-line-height);
  font-size: 1.25rem !important;
  font-weight: lighter !important;
}

</style>
