<template>
  <GDRPWizard />
</template>

<script>
import GDRPWizard from '@/components/Wizard.vue'
import { provide } from "vue";
export default {
  name: 'App',
  components: {
    GDRPWizard
  },
  setup() {
    provide('ux_language', 'ca')
    provide('consent_language', 'en')
    provide('csrf_token', 'xxxxxxxxxxx')
    provide('data_endpoint', '')
  }
}
</script>

<style>

</style>
